ul{
  border: 2px solid green;
  margin: 0;
  padding: 10px;
  align: rigth;
}
ul li{
  display: inline;
  border: 5px solid red;
}
header{
  background-image: url(../images/background_church.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-holder img{
  width: 50px;
}
